/*
tomango pattern library & front-end style-guide
*/ 


/*
Reset
*/

html,
body {
	padding: 0;
	height: 100%;
	margin: 0;
}

body {
	padding: 50px 0 0;
}

body:before {
	background: rgba(53, 53, 53, .8);
	position: fixed;
	z-index: 10;
	content: " ";
	height: 48px;
	width: 100%;
	left: 0;
	top: 0;
}

.library-container {
	display: block;
	padding: 0;
	margin: 0;
}

.pattern-markup,
.pattern-markup-block {
	padding: 0;
	margin: 0;
}

.pattern-markup {
	max-width: 100%;
}

.library-title,
.pattern-group-title {
	font-weight: normal;
	line-height: 1;
	margin: 0;
}


/*
Global
*/

.library {
	color: #444;
	font: 300 16px 'Open Sans', sans-serif;
}

.library a {
	color: #D70929;
}

.library-container {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	padding: 20px;
	width: 100%;
	float: left;
}

.library-nav {
	background: #333;
	min-height: 100%;
	position: fixed;
	z-index: 15;
	width: 20%;
	right: -20%;
	top: 0;
}

.library-nav #nav-controls {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	border-radius: 100%;
	background:#333;
	position: absolute;
	cursor: pointer;
	height: 30px;
	color: #fff;
	width: 30px;
	left: calc( 0% - 50px );
	top: 9px;
}

.library-nav #nav-controls:before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	position: absolute;
	display: inline-block;
	content: "";
	height: 7px;
	width: 7px;
	left: 12px;
	top: 10px;
}

.library-nav #nav-controls,
.library-nav,
.library-container {
	-webkit-transition: 500ms all cubic-bezier(0.77, 0, 0.175, 1);
	   -moz-transition: 500ms all cubic-bezier(0.77, 0, 0.175, 1);
	    -ms-transition: 500ms all cubic-bezier(0.77, 0, 0.175, 1);
	     -o-transition: 500ms all cubic-bezier(0.77, 0, 0.175, 1);
	        transition: 500ms all cubic-bezier(0.77, 0, 0.175, 1);
}

.nav-open .library-container {
	-webkit-transform: translateX(-20%);
	   -moz-transform: translateX(-20%);
	    -ms-transform: translateX(-20%);
	     -o-transform: translateX(-20%);
	        transform: translateX(-20%);
}

.nav-open .library-nav {
	right: 0;
}

.nav-open #nav-controls {
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
	background:#D70929;
	left: calc( 100% - 50px );
}

.library-nav-list {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-weight: bold;
	list-style: none;
	padding: 40px 20px 20px;
	color: #fff;
}

.library-nav-list li {
	line-height: 1.4;
	text-transform: capitalize;
}

.library-nav-list a {
	text-decoration: none;
	color: #fff;
}

.library-container h2:first-child {
	margin-top: 0;
}

/*
Header
*/

.library-title {
	font-size: 2em;
}

.library-description {
	font-size: 1.3em;
	max-width: 800px;
}

/*
Pattern
*/

.pattern, 
.pattern-usage,
.pattern-preview,
.pattern-summary,
.pattern-markup-block {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


.pattern {
	margin: 20px 0;
	border: solid 1px #e1e1e1;
	border-top: none;
}

.pattern-summary {
	font-weight: bold;
	box-shadow: 0 0 0 1px #bdc3c7;
	background: #bdc3c7;
	display: block;
	padding: 15px;
	color: #333;
}

.pattern-summary a {
	text-decoration: none;
	color: #333;
}

.pattern-markup-block {
	background: #f2f2f2;
	max-height: 300px;
	margin-top: 1px;
	overflow: auto;
	padding: 15px;
	float: left;
	width: 65%;
}

.pattern-usage-slim {
	padding: 15px;
	float: left;
	width: 35%;
}

.pattern-usage-full {
	padding: 15px;
}

.pattern-usage strong {
	border-bottom: 1px solid #e2e2e2;
	font-weight: 600;
	padding: 0 0 5px;
	display: block;
	margin: 0 0 5px;
	color: #D70929;
}

.pattern-preview {
	border-top: 1px solid #F2F2F2;
	padding: 25px 15px;
	clear: both;
}

/*
Pattern Group
*/

.pattern-group-title {
	text-transform: capitalize;
	background: #D70929;
	font-size: 2em;
	padding: 30px;
	margin: 30px 0 15px;
	color: #fff;
}

.pattern-group-description {
	max-width: 900px;
	font-size: 1.3em;
	padding: 10px 30px;
	margin: 10px 0;
	color: #444;
}

/* http://prismjs.com/download.html?themes=prism&languages=markup+css */

code[class*="language-"],
pre[class*="language-"] {
	word-spacing: normal;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	text-shadow: 0 1px white;
	white-space: pre;
	word-break: normal;
	text-align: left;
	direction: ltr;
	color: black;

	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;

	-webkit-hyphens: none;
	   -moz-hyphens: none;
	    -ms-hyphens: none;
	        hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	overflow: auto;
	padding: 1em;
	margin: 1px 0 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	border-radius: .3em;
	padding: .1em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	background: hsla(0,0%,100%,.5);
	color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

