/*
tomango pattern library & front-end style-guide
*/ 


/*
Reset
*/

html,
body {
	padding: 0;
	margin: 0;
	height:100%;
}

body {
	padding:30px 0 0;
}

.library-container {
	display:block;
	margin:0;
	padding:0;
}

.pattern-markup,
.pattern-markup-block {
	margin:0;
	padding:0;
}

.pattern-markup {
	max-width:100%;
}

.library-title,
.pattern-group-title {
	font-weight:normal;
	margin:0;
	line-height:1;
}


/*
Global
*/

.library {
	font:300 16px 'Open Sans', sans-serif;
}

.library a {
	color: #D70929;
}

.library-container {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	padding:20px;
	width:100%;
	float:left;
}

.library-nav {
	background:#333;
	min-height:100%;
	position:fixed;
	width:20%;
	right:-20%;
	top:0;
}

.library-nav #nav-controls {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	-webkit-user-select:none;
	   -moz-user-select:none;
	        user-select:none;
	border-radius:100%;
	padding-left:10px;
	padding-top:5px;
	line-height:1;
	font-weight:bold;
	background:#333;
	position:absolute;
	z-index:11;
	cursor:pointer;
	height:30px;
	color:#fff;
	width:30px;
	left:calc( 0% - 50px );
	top:9px;
}

.library-nav #nav-controls:before {
	content:"<";
}

.library-nav #nav-controls,
.library-nav,
.library-container {
	-webkit-transition:500ms all cubic-bezier(0.77, 0, 0.175, 1);
	   -moz-transition:500ms all cubic-bezier(0.77, 0, 0.175, 1);
	    -ms-transition:500ms all cubic-bezier(0.77, 0, 0.175, 1);
	     -o-transition:500ms all cubic-bezier(0.77, 0, 0.175, 1);
	        transition:500ms all cubic-bezier(0.77, 0, 0.175, 1);
}

.nav-open .library-container {
	-webkit-transform:translateX(-20%);
	   -moz-transform:translateX(-20%);
	    -ms-transform:translateX(-20%);
	     -o-transform:translateX(-20%);
	        transform:translateX(-20%);
}

.nav-open .library-nav {
	right:0;
}

.nav-open #nav-controls {
	left:calc( 100% - 50px );
	background:#D70929;
	-webkit-transform:rotate(180deg);
	   -moz-transform:rotate(180deg);
	    -ms-transform:rotate(180deg);
	     -o-transform:rotate(180deg);
	        transform:rotate(180deg);
}

.library-nav-list {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	padding:40px 20px 20px;
	list-style:none;
	font-weight:bold;
	color:#fff;
}

.library-nav-list li {
	line-height:1.4;
	text-transform:capitalize;
}

.library-nav-list a {
	text-decoration:none;
	color:#fff;
}

.library-container h2:first-child {
	margin-top:0;
}

/*
Header
*/

.library-banner {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	background:rgba(53, 53, 53, .8);
	text-align:left;
	position:fixed;
	padding:10px 20px;
	z-index:10;
	width:100%;
	color:#fff;
	left:0;
	top:0;
}

.library-title {
	font-weight:300;
	font-size:1.6em;
	display:inline;
}

.library-description {
	color: #444;
	font-size:1.3em;
	max-width:800px;
}

/*
Pattern
*/

.pattern, 
.pattern-usage,
.pattern-preview,
.pattern-summary,
.pattern-markup-block {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}


.pattern {
	border:solid 1px #e1e1e1;
	border-top:none;
	margin:20px 0;
}

.pattern-summary {
	box-shadow:0 0 0 1px #bdc3c7;
	background:#bdc3c7;
	display:block;
	padding:15px;
	color:#333;
	font-weight:bold;
}

.pattern-summary a {
	text-decoration:none;
	color:#333;
}

.pattern-markup-block {
	background:#f2f2f2;
	max-height:300px;
	margin-top:1px;
	overflow:auto;
	padding:15px;
	float:left;
	width:65%;
}

.pattern-usage-slim {
	padding:15px;
	float:left;
	width:35%;
}

.pattern-usage-full {
	padding:15px;
}

.pattern-usage strong {
	border-bottom:1px solid #e2e2e2;
	font-weight:600;
	padding:0 0 5px;
	display:block;
	margin:0 0 5px;
	color:#D70929;
}

.pattern-preview {
	border-top: 1px solid #F2F2F2;
	padding:25px 15px;
	clear:both;
}

/*
Pattern Group
*/

.pattern-group-title {
	text-transform:capitalize;
	background:#D70929;
	color:#fff;
	font-size:2em;
	padding:30px;
	margin:30px 0 15px;
}

.pattern-group-description {
	max-width:900px;
	font-size:1.3em;
	padding:10px 30px;
	margin:10px 0;
	color:#444;
}


/* http://prismjs.com/download.html?themes=prism&languages=markup+css */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;


	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 1px 0 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

